<p id="notice"><%= notice %></p>

<h1>Book Audits</h1>

<table>
  <thead>
    <tr>
      <th>Isbn</th>
      <th>Title</th>
      <th>Author</th>
      <th>Is available</th>
      <th>Language</th>
      <th>Publish date</th>
      <th>Edition</th>
      <th>Image</th>
      <th>Subject</th>
      <th>Summary</th>
      <th>Is special</th>
      <th>Book</th>
      <th>Is active</th>
      <th>Issued date</th>
      <th>Returned date</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_audits.each do |book_audit| %>
      <tr>
        <td><%= book_audit.isbn %></td>
        <td><%= book_audit.title %></td>
        <td><%= book_audit.author %></td>
        <td><%= book_audit.is_available %></td>
        <td><%= book_audit.language %></td>
        <td><%= book_audit.publish_date %></td>
        <td><%= book_audit.edition %></td>
        <td><%= book_audit.image %></td>
        <td><%= book_audit.subject %></td>
        <td><%= book_audit.summary %></td>
        <td><%= book_audit.is_special %></td>
        <td><%= book_audit.book_id %></td>
        <td><%= book_audit.is_active %></td>
        <td><%= book_audit.issued_date %></td>
        <td><%= book_audit.returned_date %></td>
        <td><%= book_audit.student_id %></td>
        <td><%= link_to 'Show', book_audit %></td>
        <td><%= link_to 'Edit', edit_book_audit_path(book_audit) %></td>
        <td><%= link_to 'Destroy', book_audit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book Audit', new_book_audit_path %>
