<p id="notice"><%= notice %></p>

<h3>ISSUED BOOKS</h3>

<table class="table table-hover row-clickable">
  <thead>
  <tr>
    <th scope="col">Isbn</th>
    <th scope="col">Title</th>
    <th scope="col">Issue date</th>
    <th scope="col">Fine</th>
    <th scope="col">Due date</th>
    <th scope="col">Author</th>
    <th scope="col">Language</th>
    <th scope="col">Publish date</th>
    <th scope="col">Edition</th>
    <th scope="col">Image</th>
    <th scope="col">Subject</th>
    <th scope="col">Summary</th>
    <th scope="col">Library</th>
    <th scope="col" colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @issues.each do |issue| %>
    <% book = Book.find(issue.book_id) %>
    <% lib = Library.find(book.library_id).name %>
    <% %>
    <tr>
      <td scope="row"><%= book.isbn %></td>
      <td><%= book.title %></td>
      <td><%= issue.issued_from %></td>
      <% if Date.today > issue.due_date %>
        <td><%= (issue.due_date - Date.today).to_i * lib.fine %></td>
      <% else %>
        <td><%= 0.0 %></td>
      <% end %>
      <td><%= issue.due_date %></td>
      <td><%= book.author %></td>
      <td><%= book.language %></td>
      <td><%= book.publish_date %></td>
      <td><%= book.edition %></td>
      <td><%= image_tag book.image.url, width: '100px' if book.image.present? %></td>
      <td><%= book.subject %></td>
      <td><%= book.summary %></td>
      <td><%= lib %></td>
      <td><%= link_to 'Return', issues_return_path(issue), method: :post %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
