<%= render 'shared/errors', obj: @book %>

<%= bootstrap_form_with(model: book, local: true, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |form| %>

    <%= form.text_field :isbn %>

    <%= form.text_field :title %>

    <%= form.text_field :author %>

    <%= form.check_box :is_available %>

    <%= form.text_field :language %>

    <%= form.date_select :publish_date %>

    <%= form.text_field :edition %>

    <%= form.file_field :image %>

    <%= form.text_field :subject %>

    <%= form.text_field :summary %>

    <%= form.check_box :is_special %>

    <%= form.check_box :is_active %>

    <%= form.number_field :count %>

  <div class="field">
    <%= form.select :library_id, Library.all.collect { |c| [c.name, c.id] }, {label: "Select library"} %>
  </div>

    <%= form.submit class: "btn btn-success" %>
<% end %>
