<p id="notice"><%= notice %></p>

<h3>BOOKS</h3>

<%= form_tag("", :method => "get", class: 'navbar-form navbar-left') do %>
  <div class="input-group">
    <%= search_field_tag :search, params[:search], placeholder: "Search by title or author", class: "form-control" %>
    <div class="input-group-btn">
      <%= button_tag "Search", :class => 'btn btn-info glyphicon glyphicon-search', :name => nil %>
    </div>
  </div>
<% end %>

<table class="table table-hover row-clickable">
  <thead>
  <tr>
    <th>Isbn</th>
    <th>Title</th>
    <th>Author</th>
    <th>Language</th>
    <th>Publish date</th>
    <th>Edition</th>
    <th>Image</th>
    <th>Subject</th>
    <th>Summary</th>
    <th>Is special</th>
    <th>Library</th>
    <th>Count</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% if !@books.nil? %>
    <% @books.each do |book| %>
      <% @lib = Library.find(book.library_id).name %>
      <tr>
        <td><%= book.isbn %></td>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.language %></td>
        <td><%= book.publish_date %></td>
        <td><%= book.edition %></td>
        <td><%= image_tag book.image.url, width: '100px' if book.image.present? %></td>
        <td><%= book.subject %></td>
        <td><%= book.summary %></td>
        <td><%= book.is_special %></td>
        <td><%= @lib %></td>
        <td><%= book.count %></td>
        <% if @current_user =='student' %>
        <td><%= link_to 'Check Out', books_student_check_out_path(book), method: :post %></td>
          <% if Bookmark.find_by(student_id: (Student.find_by email: current_student.email).id, book_id: book.id).nil? %>
          <td><%= link_to 'Bookmark', books_bookmark_path(book), method: :post %></td>
          <% else %>
          <td><%= link_to 'Unbookmark', books_unbookmark_path(book), method: :post %></td>
          <% end %>
        <% end %>
        <td><%= link_to 'Show', book %></td>
        <% if @current_user =='librarian' or @current_user =='admin'%>
        <td><%= link_to 'History', book_audits_show_history_path(book.id)%></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<% if (admin_signed_in?)%>
  <br>
  <div class="row justify-content-center">
    <%= link_to "Create book", new_book_path, class: "btn btn-success" %>
  </div>
  <br>
<% end %>

<% if (librarian_signed_in?)%>
  <br>
  <div class="row justify-content-center">
    <%= link_to "Add/Remove", update_to_lib_path(current_librarian.id), class: "btn btn-success" %>
  </div>
  <br>
<% end %>

<br>

