<p id="notice"><%= notice %></p>

<h3>BOOKS</h3>

<%= form_tag("", :method => "get", class: 'navbar-form navbar-left') do %>
  <div class="input-group">
    <%= search_field_tag :search, params[:search], placeholder: "Search by title or author", class: "form-control" %>
    <div class="input-group-btn">
      <%= button_tag "Search", :class => 'btn btn-info glyphicon glyphicon-search', :name => nil %>
    </div>
  </div>
<% end %>

<table class="table table-hover row-clickable">
  <thead>
  <tr>
    <th>Isbn</th>
    <th>Title</th>
    <th>Author</th>
    <th>Language</th>
    <th>Publish date</th>
    <th>Edition</th>
    <th>Image</th>
    <th>Subject</th>
    <th>Summary</th>
    <th>Is special</th>
    <th>Library</th>
    <th>Count</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <% @currlib = Library.find(current_librarian.library_id).name %>
  <tbody>
  <% if !@books.nil? %>
    <% @books.each do |book| %>
      <% @lib = Library.find(book.library_id) %>
      <tr>
        <td><%= book.isbn %></td>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.language %></td>
        <td><%= book.publish_date %></td>
        <td><%= book.edition %></td>
        <td><%= image_tag book.image.url, width: '100px' if book.image.present? %></td>
        <td><%= book.subject %></td>
        <td><%= book.summary %></td>
        <td><%= book.is_special %></td>
        <td><%= @lib.name %></td>
        <td><%= book.count %></td>
        <% if @lib.id == current_librarian.library_id %>
          <td><%= link_to 'Add to ' + @currlib.capitalize, add_to_lib_path(param_1: book, param_2: current_librarian.library_id), method: :post %></td>
          <td><%= link_to 'Remove from ' + @currlib.capitalize, remove_from_lib_path(param_1: book, param_2: current_librarian.library_id), method: :post %></td>
        <% else %>
          <td><%= link_to 'Add to ' + @currlib.capitalize, add_to_lib_path(param_1: book, param_2: current_librarian.library_id), method: :post %></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<br>

