<p id="notice"><%= notice %></p>

<h3>HOLD REQUESTS</h3>

<table class="table table-hover row-clickable">
  <thead>
  <tr>
    <th>ISBN</th>
    <th>Name</th>
    <th>Author</th>
    <th>Subject</th>
    <th>Image</th>
    <th>Pending since days</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @hold_requests.each do |hold_request| %>
    <% book = Book.find(hold_request.book_id) %>
    <tr>
      <td><%= book.isbn %></td>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= book.subject %></td>
      <td><%= image_tag book.image.url, width: '100px' if book.image.present? %></td>
      <td><%= ((Time.now - hold_request.created_at) / 24.hours).to_i %></td>
      <td><%= link_to 'Delete', hold_request, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
