<div class="container">
  <br/>
  <p id="notice"><%= notice %></p>
  <h3>HOME</h3>
  <br/>

  <%= link_to 'Students', students_path %>

  <br/><br/><br/>

  <%= link_to 'Librarians Approval Request', librarianapprovals_admin_home_path %>

  <br/><br/><br/>

  <%= link_to 'Librarians', librarians_path %>

  <br/><br/><br/>

  <%= link_to 'Hold Requests', holdrequestapprovals_admin_home_path %>

  <br/><br/><br/>

  <%= link_to 'Books', books_path %>

  <br/><br/><br/>

  <%= link_to 'Libraries', libraries_path %>

</div>