<!DOCTYPE html>
<html>
<head>
  <title>LibraryMgmtSys</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body style="padding-bottom: 5em">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'Library Management System', root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">

    <% if admin_signed_in? %>
      <ul class="navbar-nav mr-auto">
        <%= link_to 'Admin Home', admin_home_path, class: "nav-link text-secondary" %>

        <%= link_to 'Manage Students', students_path, class: "nav-link text-secondary" %>

        <%= link_to 'Librarians Approval Request', librarianapprovals_admin_home_path, class: "nav-link text-secondary" %>

        <%= link_to 'Librarians', librarians_path, class: "nav-link text-secondary" %>

        <%= link_to 'Hold Requests', holdrequestapprovals_admin_home_path, class: "nav-link text-secondary"%>

        <%= link_to 'View Books', books_path, class: "nav-link text-secondary"%>

        <%= link_to 'View Libraries', libraries_path, class: "nav-link text-secondary" %>


      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_admin.email %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%#= link_to "Edit Profile", edit_admin_registration_path, class: "dropdown-item" %>
            <%= link_to "Logout", destroy_admin_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      </ul>

    <% elsif librarian_signed_in? %>
      <ul class="navbar-nav mr-auto">
        <%= link_to 'View Books', books_path, class: "nav-link text-secondary" %>

        <%= link_to 'Update Books', update_to_lib_path(current_librarian.id), class: "nav-link text-secondary" %>

        <%= link_to 'Issued Books', issues_path, class: "nav-link text-secondary" %>

        <%= link_to 'Overdue Books', show_overdue_path(current_librarian.id), class: "nav-link text-secondary" %>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_librarian.email %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Edit Profile", edit_librarian_registration_path, class: "dropdown-item" %>
            <%= link_to "Logout", destroy_librarian_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      </ul>

    <% elsif student_signed_in? %>
      <ul class="navbar-nav mr-auto">
        <%= link_to 'Student Home', student_home_path, class: "nav-link text-secondary" %>

        <!--Get current student id from email-->
        <% id = (Student.find_by email: current_student.email).id %>

        <!--View the books issued by the student-->
        <%= link_to 'Issued Books', issues_path, class: "nav-link text-secondary" %>

        <!--Get the list of bookmarks for the current student -->
        <%= link_to 'Bookmarks', bookmarks_path, class: "nav-link text-secondary" %>

        <%= link_to 'Books', books_path, class: "nav-link text-secondary" %>

        <!--Get the list of hold requests for the current student -->
        <%= link_to 'Requests', hold_requests_path, class: "nav-link text-secondary" %>
        <!-- Logged in message -->
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_student.email %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Edit Profile", edit_student_registration_path, class: "dropdown-item" %>
            <%= link_to "Logout", destroy_student_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    <% end %>

    <!--        <li class="nav-item">-->
    <%#= link_to 'Students', {controller: 'students', action: 'index'}, class: "nav-link" %>
    <!--        </li>-->
    <!--        <li class="nav-item">-->
    <%#= link_to 'Libraries', {controller: 'libraries', action: 'index'}, class: "nav-link" %>
    <!--        </li>-->
    <!--        <li class="nav-item">-->
    <%#= link_to 'Librarians', {controller: 'librarians', action: 'index'}, class: "nav-link" %>
    <!--        </li>-->
    <!--        <li class="nav-item">-->
    <%#= link_to 'Books', {controller: 'books', action: 'index'}, class: "nav-link" %>
    <!--        </li>-->
  </div>
</nav>
<div class="container text-center">
  <%= yield %>
</div>
<%= render 'layouts/footer' %>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>